.cars{
    border: 3px solid 	#FF8247;
    border-radius: 20px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    float:left;
    /*margin-right: 250px;*/
    margin-bottom: 10px;
    width: 350px;
}

#text{
    margin: 20px;
    text-align: justify;
    color:#707070;

}

p{
    text-indent:1.5em;
}
h1{
    text-align: center;
    margin-left: 300px;
    font-size: 30px;
    color:#8B7355;
    background:#FFFFF0;
    width: 62.5%;
    border-radius: 10px;
    box-shadow: 0 0 40px;
}

.circle{
    display: flex;
    width: 100px;
    height: 100px;
    margin-right: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 2px solid 	#FF8247;
    border-radius: 100px;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    font-size: 22px;
    font-weight: 700;
    cursor: none;
}

#history{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #707070;
}

.onediv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.citx {
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #707070;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
}

h2 {
    font-family: monospace;
    color: #606060;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topmenu > li {
    display: inline-block;
    font-size: 20px;
    /*margin-right: 20px;
    position: relative;*/
}
.topmenu > li:last-child {
    margin-right: 0;
}
a {
    display: block;
    padding: 10px ;
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}
.fa {
    font-family: "FontAwesome";
    color: inherit;
    /*padding-left: 10px;*/
}
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.one ul a {
    color: #695753;
}
.one .submenu {
    display: none;
    background: #b19891;
}
.one ul li:hover .submenu {
    display: block;
}


.submenu li a {
    border-bottom: 1px solid rgba(255,255,255,.3);
    color: white;
}

nav1{
    position: relative;
    left:418px;
    top:40px;
    height: 38px;
}