body{
    width: 100%;
    min-width: 700px;
    height: 100%;
    margin: 0;
    font-family: Century Gothic, serif;
    /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #24292e;*/
}

:focus{
    outline:none;
}

* {
    box-sizing: border-box;
}
/*       ОБЩЕЕ       */


.scm-flex-center{
    align-self: center;
}

.scm-flex-end{
    align-self: flex-end;
}

.scm-30{
    width: 30%;
}

.scm-70{
    width: 70%;
}

.scm-center-title{
    align-self: center;
    font-size: 22px;
    font-weight: bold;
}

.scm-text{
    text-align: justify;
    color: #707070;
}

.scm-text-with-indent{
    text-indent: 35px;
    text-align: justify;
    color: #707070;
}

a{
    color: #707070;
    display: block;
    text-decoration: none;
    outline: none;
}

.scm-column-container{
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
}

.scm-row-container{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
}



/*       ОБЩЕЕ ДЛЯ КАРКАСА       */
.scm-header{
    box-shadow: #e3e3e3 0 0 1px;
    width: 100%;
    top: 0;
    padding: 12px 0;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    display: block;
}

.scm-car-icon{
    width: 30px;
    margin-right: 5px;
}

.scm-header-name{
    display: inline-block;
    padding: 10px 0 16px 5%;
    font-weight: bold;
    font-size: 30px;
    color: #707070;
}


.scm-user-menu{
    display: inline-block;
}

.scm-user-menu-element{
    padding: 0 0 0 40px;
    display: inline-block;
    word-wrap: break-word;
    font-size: 20px;
}

.scm-user-menu-element:hover{
    font-weight: bold;
}
/* ************** MENU start ************** */
.scm-navigation{
    float: right;
    padding: 18px 80px 13px;
    font-weight: bold;
    font-size: 18px;
    color: #707070;
}
.scm-navigation ul a{
    color: #707070;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.scm-menu > li{
    display: inline-block;
    position: relative;
}

.scm-menu-title{
    margin: 0 15px;
    padding-bottom: 5px;
    min-width: 85px;
}

.scm-menu .fa-angle-right{
    margin-left: 2px;
    transition: 0.2s linear;
}

.scm-menu:hover .fa-angle-right{
    transition: 0.2s linear;
    transform: rotate(90deg);
}

.scm-submenu{
    border: rgba(198, 198, 198, 0.2) solid 3px;
    width: 100%;
    position: absolute;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.scm-submenu > li{
    margin: 0 10px;
    padding: 10px 0;
}
.scm-submenu .scm-bottom-border{
    border-bottom: 1px solid #707070;
}

.scm-navigation .scm-submenu{
    /*border-radius: 0 0 10px 10px;*/
    background: #ffffff;

    /*просто появление при наведении*/
    /*display: none;*/

    /*постепенное раскрытие*/
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;

    /*постепенное появление*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
}

.scm-navigation ul li:hover .scm-submenu{
    /*просто появление при наведении*/
    /*display: block;*/

    /*постепенное раскрытие*/
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);

    /*постепенное появление*/
    /*visibility: visible;*/
    /*opacity: 1;*/
}
/* ************** MENU end ************** */


.scm-main{
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
}
.scm-container{
    font-weight: normal;
    font-size: 20px;
    color: #707070;
    height: 100%;
    min-height: 600px;
    margin: 0;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    align-self: stretch;
    /*border-radius: 7px;*/
    /*background-color: rgba(255, 255, 255, 0.8);*/
    z-index: 5;
}


.scm-footer-container{
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 7px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.scm-footer{
    /*background-color: #ff8247;*/
    margin: 0 80px;
    color: #707070;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    position: relative;
}

.scm-horizontal-line{
    width: 100%;
    height: 5px;
    margin-bottom: 20px;
    background-color: #707070;
}

.scm-after-footer{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    padding-bottom: 40px
}