.scm-rates-main-block {
    margin-top: 40px;
    min-height: 600px;
}

.scm-rates-title-name {
    margin-bottom: 20px;
    text-shadow: #707070 0 0 5px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 38px;
}

.scm-rates-form {
    padding: 25px 60px 20px;
    margin: auto auto 20px;
    background-color: #ebebeb;
}

.scm-rates-center-title {
    text-align: center;
    margin-bottom: 18px;
    font-size: 22px;
    font-weight: normal;
}

.scm-rates-form-row {
    margin: 0 0 25px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
}

.scm-rates-input {
    background-color: #ebebeb;
    line-height: 20px;
    font-size: 20px;
    font-family: inherit;
    color: #959595;
    border-width: 0;
    border-bottom: 2px solid #c8c8c8;
    float: left;
}

.scm-rates-select{
    min-width: 240px;
}

.scm-rates-label {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    align-self: center;
    min-width: 200px;
}

.scm-rates-textarea {
    background-color: #ebebeb;
    line-height: 20px;
    font-size: 20px;
    font-family: inherit;
    color: #959595;
    border-width: 0;
    border-bottom: 2px solid #c8c8c8;
    float: right;
    min-height: 90px;
    word-wrap: break-word;
}

.scm-rates-btn {
    text-align: center;
}

.scm-rates-form input[type="submit"] {
    padding: 5px 40px;
    background: #acacac;
    border-radius: 5px;
    border-width: 0;
    color: white;
    font-size: 20px;
}

.scm-rates-form input[type="submit"]:hover {
    background: #707070;
}

.scm-rates-table {
    border-spacing: 0;
    background-color: #ebebeb;
    font-size: 18px;
}

tr:first-child:hover {
    background-color: #ebebeb;
    cursor: default;
}

tr:hover {
    background-color: #d9d9d9;
    cursor: hand;
}

.scm-rates-table th {
    color: #707070;
}

.scm-rates-table th, td {
    padding: 5px 10px;
    text-align: center;
    border-bottom: solid #acacac 2px;
}

.scm-rates-cell-right-border {
    border-right: solid #acacac 2px;
}

.scm-rates-last-cell {
    padding: 5px 10px;
    text-align: center;
    border-bottom: 0;
}

td a:hover {
    font-weight: 600;
}

.scm-rates-empty-form {
    word-wrap: break-word;
    color: #ffffff;
    font-size: 28px;
    text-shadow: #cdcdcd 0 0 5px;
    margin-bottom: 15px;
}
