.scm-main-info{
    text-shadow: #707070 0 0 5px;
    text-align: right;
    padding: 310px 50px 80px 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    background: url(/images/auto.png) no-repeat;
    background-size: cover;
}

.scm-center-container{
    padding: 10px 100px 20px;
}

.scm-title-row{
    margin-top: 20px;
}

.scm-about-title{
    padding: 10px 40px 10px 40px;
    width: 50%;
    align-self: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #707070;
}

.scm-title{
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #707070;
}
/*.cars{
    border: 2px solid #707070;
    border-radius: 20px;
    !*box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);*!
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 350px;
}*/

/*.circle{
    display: flex;
    width: 80px;
    height: 80px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 2px solid 	#707070;
    border-radius: 80px;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    font-size: 22px;
    font-weight: 700;
}*/

.scm-transport-column{
    padding: 0 10px;
}

.scm-transport-img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.scm-list{
    margin: 15px 0;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.scm-about-company{
    text-indent: 20px;
    line-height: 23px;
    text-align: justify;
    padding: 0 15px;
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
