body{
    width: 100%;
    min-width: 700px;
    height: 100%;
    margin: 0;
    background: url(/images/background.jpg) no-repeat fixed;
    background-size: cover;
    box-sizing: border-box;
}
/*       ОБЩЕЕ       */
.scm-text{
    text-align: justify;
    color: #707070;
}

.scm-text-with-indent{
    text-indent: 35px;
    text-align: justify;
    color: #707070;
}

a{
    color: #903306;
    display: block;
    text-decoration: none;
    outline: none;
}

.scm-title{
    margin: 10px 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #707070;
}

.scm-column-container{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
}

.scm-row-container{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
}



/*       ОБЩЕЕ ДЛЯ КАРКАСА       */
.scm-header{
    width: 100%;
    top: 0;
    background-color: #ff8247;
    position: fixed;
    z-index: 10;
    display: block;
}

.scm-car-icon{
    width: 28px;
    margin-right: 5px;
}

.scm-header-name{
    display: inline-block;
    padding: 10px 60px 16px;
    font: bold 22px Century Gothic;
    color: #903306;
}

/* ************** MENU start ************** */
.scm-navigation{
    float: right;
    padding: 18px 80px;
    font: bold 18px Century Gothic;
    color: #903306;
}
.scm-navigation ul a{
    color: #903306;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.scm-menu > li{
    display: inline-block;
    position: relative;
}

.scm-menu > li:after{
    color: #903306;
    content: '▾';
}

.scm-submenu{
    width: 100%;
    position: absolute;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.scm-submenu > li{
    margin: 0 10px;
    padding: 10px 0;
}
.scm-submenu .scm-bottom-border{
    border-bottom: 1px solid #903306;
}

.scm-navigation .scm-submenu{
    border-radius: 0 0 10px 10px;
    background: #ffa656;

    /*просто появление при наведении*/
    /*display: none;*/

    /*постепенное раскрытие*/
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;

    /*постепенное появление*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
}

.scm-navigation ul li:hover .scm-submenu{
    /*просто появление при наведении*/
    /*display: block;*/

    /*постепенное раскрытие*/
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);

    /*постепенное появление*/
    /*visibility: visible;*/
    /*opacity: 1;*/
}
/* ************** MENU end ************** */


.scm-main{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.scm-container{
    font-weight: normal;
    font-size: 18px;
    color: #707070;
    height: 100%;
    min-height: 600px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-self: stretch;
    margin: 0 80px;
    padding: 10px 40px 20px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 5;
}


.scm-footer-container{
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 7px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.scm-footer{
    /*background-color: #ff8247;*/
    margin: 0 80px;
    color: #ffffff;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.scm-horizontal-line{
    width: 100%;
    height: 5px;
    margin-bottom: 20px;
    background-color: #ff8247;
}

.scm-after-footer{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 40px
}