<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/scm</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="hibernate_mapping/Cargo.hbm.xml"/>
        <mapping class="model.Cargo"/>
        <mapping resource="hibernate_mapping/CargoOwner.hbm.xml"/>
        <mapping class="model.CargoOwner"/>
        <mapping resource="hibernate_mapping/Carrier.hbm.xml"/>
        <mapping class="model.Carrier"/>
        <mapping resource="hibernate_mapping/DeliveryMethod.hbm.xml"/>
        <mapping class="model.DeliveryMethod"/>
        <mapping resource="hibernate_mapping/Locality.hbm.xml"/>
        <mapping class="model.Locality"/>
        <mapping resource="hibernate_mapping/Rate.hbm.xml"/>
        <mapping class="model.Rate"/>
        <mapping resource="hibernate_mapping/RateDeliveryMethod.hbm.xml"/>
        <mapping class="model.RateDeliveryMethod"/>
        <mapping resource="hibernate_mapping/Route.hbm.xml"/>
        <mapping class="model.Route"/>
        <mapping resource="hibernate_mapping/Ticket.hbm.xml"/>
        <mapping class="model.Ticket"/>
        <mapping resource="hibernate_mapping/Transportation.hbm.xml"/>
        <mapping class="model.Transportation"/>
        <mapping resource="hibernate_mapping/TransportationWaypoint.hbm.xml"/>
        <mapping class="model.TransportationWaypoint"/>
        <mapping resource="hibernate_mapping/User.hbm.xml"/>
        <mapping class="model.User"/>
        <mapping resource="hibernate_mapping/Waypoint.hbm.xml"/>
        <mapping class="model.Waypoint"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>